<div class="flex flex-center flex-col">
    <h1>Smile!</h1>
    <webcam *ngIf="!imageService.webcamImage" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
    <div class="buttons" *ngIf="!imageService.webcamImage">
        <button mat-raised-button color="primary" (click)="triggerSnapshot();">Take Picture</button>
    </div>
    <img *ngIf="imageService.webcamImage" [src]="imageService.webcamImage.imageAsDataUrl">
    <div class="buttons">
        <button *ngIf="imageService.webcamImage" mat-raised-button (click)="retake()">Retake</button>
        <button *ngIf="imageService.webcamImage" mat-raised-button color="primary" routerLink="/pickStyle">Use Photo</button>
    </div>
</div>