<mat-toolbar color="primary">
  <span class="main-title" routerLink="/home">Style Transfer</span>
  <span class="fill"></span>
  <span></span>
</mat-toolbar>
<div class="padding">
  <router-outlet></router-outlet>
</div>