<div>
    <h1>Now pick a style:</h1>

    <div class="style-area flex flex-wrap">
        <mat-card class="style" *ngFor="let style of styles" (click)="selectStyle(style)">
            <mat-card-header>
                <mat-card-title>{{style.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="style.image">
        </mat-card>
    </div>
</div>