<div class="flex flex-center flex-col">
    <div *ngIf="!captureMode" class="flex flex-center flex-col">
        <h4>Style transfer is the technique of recomposing images in the style of other images using deep learning.​
        </h4>
        <h4>Uses convolutional networks to learn the stylistic characteristics of a source or “style image”, and
            transfers
            that
            style into a target or “content image”.</h4>
        <img class="example-image" src="assets/img/img1.png">
        <div class="buttons">
            <button mat-raised-button color="primary" routerLink="/capture">Give it a try!</button>
        </div>
    </div>
</div>